<h1>Editing file manager</h1>

<%= render "form", file_manager: @file_manager %>

<br>

<div>
  <%= link_to "Show this file manager", @file_manager %> |
  <%= link_to "Back to file managers", file_managers_path %>
</div>
